{% extends "index.html" %}

{% block title %}
Criar Conta - FakePinterest
{% endblock %}

{% block formulario %}
<form method="POST">
        {{ form.csrf_token }}

        {{ form.EmailField.label }}
        {{ form.EmailField() }}

        {{form.UsernameField.label }}
        {{ form.UsernameField() }}

        {{ form.PasswordField1.label }}
        {{ form.PasswordField1() }}

        {{ form.PasswordField2.label }}
        {{ form.PasswordField2() }}

        {{ form.SubmitField() }}
        <br>
    </form> 
{% endblock %}